<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>header}}
</head>
<body>
    {{>navbar}}
   <main class="index-main">
		<p>This is the home page of my website. Use the links above to either register or login to access the website.</p>
	</main>
	<footer>
		<p>&copy; 2023 My Website. All rights reserved.</p>
	</footer>
    
</body>
</html>